body {
margin: 0px;
}

.btn {
  transition: all 1s;
  color: solid black;
  padding: 10px;
  margin: 20px;
  border: 1px solid red;
  border-radius: 25%;
  background color: #aaa;
}

.valider {
background-color: pink;
}

.neutre {
background-color: white;

}

.design {
background-color: pink;
}

.btn:hover {
  color: green;
  transform: scale(1.3);
}
